*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-color: #53b2ff;
    font-family: 'Poltawski Nowy', serif;
}
.container{
    margin: 180px auto auto 550px;
}
.container h1{
    margin-left:55px;
    margin-bottom: 8px;
}
.container input{
    background-color: #000000;
    max-width:400px;
    width:150px;
    height:40px;
    border:none;
    border-radius: 9px;
    border-bottom: 2px solid #000;
    text-align: center;
    margin-right: 12px;
}
.container button{
    background-color: #787474;
    max-width:200px;
    width:100px;
    height:40px;
    border:none;
    border-radius: 9px;
    border-bottom: 2px solid #000;
    text-align: center;
}
.container button:hover{
    background-color: #0011f8;
}
.container input, button{
    font-family:'Ysabeau SC', sans-serif;
    font-size: 17px;
    color:#fff;
}
.container ul{
    margin-top: 8px;
}
.container ul li{
    padding: 8px;
    margin-left: 70px;
}
.task-completed{
    text-decoration: line-through;
    color:#fff;
}